<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load i18n %}
{% load static %}

{% block extra_head %}

{% block content %}
	<div class="container" >
		<div class="card" style="padding: 40px 36px; border-radius: 15px" >
        <h2>
          {%trans "Sign in" %}
          </h2>
			<form method="post" style="text-align: left;">
        {% csrf_token %}
        {{ form.as_p }}
        <select name="ad_choice">
          {% for key in ad_keys %}
            <option value="{{ key }}">{{ key|capfirst }}</option>
          {% endfor %}
        </select>
        <label>
          <input type="checkbox" name="remember_me" id="id_remember_me">
          {% trans "Remember Me" %}
        </label>
        <button type="submit"> {%trans "Sign in" %}</button>
        </form>
       <div class="pb-4">
        {% comment %} <a href="{% url 'password_reset' %}">Forgot Password?</a> {% endcomment %}
       </a>
		</div>
    
	</div>
  {% endblock %}
  {% endblock %}
