[data-colors="green"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="orange"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="teal"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="violet"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="fuchsia"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="lime"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}

[data-colors="amber"] {
  --color-primary-50: #F9F7ED;
  --color-primary-100: #F2ECCF;
  --color-primary-200: #E6D7A2;
  --color-primary-300: #D7BC6D;
  --color-primary-400: #CBA344;
  --color-primary-500: #B68A35;
  --color-primary-600: #92722A;
  --color-primary-700: #7C5E24;
  --color-primary-800: #6C4527;
  --color-primary-900: #5D3B26;
  --color-primary-950: #361E12;
}
