{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_CODE == 'ar' %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "My Website" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body {% if LANGUAGE_CODE == 'ar' %}class="rtl"{% endif %}>
    

    <!-- Content blocks -->
    {% block content %}
        <h1>{% trans "Welcome to our site" %} {{ request.user }}</h1>
        <p>{% blocktrans %}Today is {{ current_date }}.{% endblocktrans %}</p>

    {% endblock %}

	{% if request.impersonator %}
	<div style="padding: 10px;">
		You are impersonating {{ request.user }}.
		<a href="{% url 'impersonate-stop' %}"> Stop</a>
	</div>
{% endif %}
 {% if request.user.is_superuser %}
      <div style="margin-top: 2em;">
        <a href="{% url 'admin:index' %}" class="btn btn-primary">{% trans "Go to Admin" %}</a>
      </div>
    {% endif %}

</body>
</html>